BOT_TOKEN=ضع_توكن_البوت_هنا
ADMINS=8798182716
FORCED_CHANNEL=bexo50
MAX_FILE_SIZE_MB=500
MAX_SESSION_TIME=600
CLEANUP_INTERVAL=300
MAX_FILE_AGE=900
MAX_FILES_PER_SESSION=20
MAX_CONCURRENT_JOBS=1
MAX_TEMP_DIR_MB=1200

# Local Telegram Bot API
LOCAL_BOT_API=false
LOCAL_BOT_API_HOST=127.0.0.1
LOCAL_BOT_API_PORT=8081

# Telegram User API (اختياري)
USER_API_ENABLED=true
TELEGRAM_API_ID=ضع_api_id
TELEGRAM_API_HASH=ضع_api_hash
USER_SESSION_NAME=pdf_user
